
server.port: 1499

spring:
    application.name: revup
    
    datasource:
        url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
        username: ${DB_USER}
        password: ${DB_PASS}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
        show-sql: true
        # open-in-view: false
    
    config:
      import: optional:file:.env[.properties]

---
spring:
    config.activate.on-profile: test

    datasource:
        driverClassName: org.h2.Driver
        url: jdbc:h2:mem:revup;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        username: sa
        password:
    jpa:
        defer-datasource-initialization: true
        hibernate:
            ddl-auto: create-drop
            naming:
                physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        show-sql: true
        database: h2
    #h2:
    #    console:
    #        enabled: true
    #        path: /h2-console
    sql.init.mode: never